.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  margin: 5px;
}

button{
  color: cyan;
  padding: 5px;
  border-radius: 8px;
  background-color: transparent;
  border: cyan 2px solid;
  font-size: calc(10px + 2vmin);
  margin: 0 5px;
}

button:hover{
  background-color: cyan;
  color: #282c34;
  transition: 0.3s;
}

.link {
  border: red 5px solid;
  border-radius: 8px;
  padding: 5px;
  margin: 20px;
  text-decoration: none;
  color: red;
}

.link:hover{
  background-color: red;
  color: #282c34;
  transition: 0.3s;
}

nav {
  display: flex;
  align-items: center;
  margin: 20px;
}

.controls {
  margin: 10px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.createNewCar input[type="text"] {
  padding: 8px 12px;
  border: 5px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
}

.createNewCar input[type="text"]:focus{
  border: cyan 5px solid;
}

.pagination{
  margin: 1vh;
}

