.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  position: relative; /* Make the parent relative */
}

.toolSet {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1px;
}

p {
  margin: 5px 0;
}
