.line{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
p{
    margin: 5px 0;
}

.car {
    width: 100px;
    height: 100px;
    color: cyan;
    transition: transform 2s;
}